<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                <a href="mailTo:alhaddademran@gmail.com">
                        alhaddademran@gmail.com
                    </a>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                <a href="tel:00967770774255"> 
                        +967 770774255
                        </a>
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->